*,
		*::after,
		*::before{ 
			padding: 0; 
			margin: 0; 
			box-sizing: border-box;
		}
		body{ 
			font-family: 'Oswald', sans-serif; 
			font-size: 16px; 
			color: #000; 
			line-height: 1.3; 
			font-weight: 400; 
			background-color: #efefef; 
			padding: 0; 
			margin: 0; 
		}
		h1{
			font-family: inherit;
			font-size: 50px;
			color: #3f51b5;
			line-height: 1.3;
			text-align: center;
			text-transform: uppercase;
			padding: 25px 0 0 0;
			margin: 0;
		}
		p{
			font-family: 'Nunito', sans-serif;
			font-size: 18px;
			color: #262626;
			line-height: 1.3;
			text-align: center;
			padding: 8px 0;
			margin: 0;
		}
		.row{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.vid-block{
			position: relative;
			width: 720px;
			max-width: 90%;
			margin: 50px 0 20px 0;
			line-height: 0;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
		}
		.vid-block video{
			display: block;
			width: 100%;
			height: 100%;
			border: 1px solid #ebebeb;
			border-radius: 3px;
		}
		.vid-block small{
			position: absolute;
			left: 1px;
			top: 1px;
			display: inline-block;
			padding: 8px;
			font-family: 'Nunito', sans-serif;
			font-size: 14px;
			color: #fff;
			line-height: 1;
			font-weight: 400;
			background-color: #3f51b5;
			border-radius: 3px;
			pointer-events: none;

		}
		.record-btn{
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-family: 'Nunito', sans-serif;
			font-size: 18px;
			color: #fff;
			line-height: 1;
			font-weight: 400;
			background-color: #3444a1;
			border: none;
			border-radius: 3px;
			padding: 10px 24px;
			margin: 0 auto;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
			transition: all 0.4s ease-in-out;
			cursor: pointer;
			position: relative;
			overflow: hidden;
		}
		.record-btn::after{
			content: '';
			width: 30px;
			height: 200%;
			background-color: rgba(255,255, 255, 0.2);
			position: absolute;
			left: -50px;
			top: -10px;
			transform: skewX(-25deg);
			transition: all 0.4s ease-in-out;
		}
		.record-btn .bx{
			vertical-align: middle;
			font-size: 20px;
			margin-left: 10px;
		}
		.record-btn:hover::after {
			left: 300px;
			top: -10px;			
		}
		.record-btn:active{
			transform: scale(.9);
		}	
		.record-btn:disabled {
			opacity: 0.3;
		}

		.alert-box{
			width: 10%;
			display: none;
			background: #ff5722;
    		border: 1px solid #c93000;
			border-radius: 3px;
			padding: 10px;
			margin: 15px auto;
			pointer-events: none;
			animation: pulse 1s linear infinite;
		}	
		.alert-box p{
			font-family: 'Nunito', sans-serif;
			font-size: 14px;
			color: #fff;
			line-height: 1.3;
			text-align: center;
			padding: 0;
			margin: 0;	
		}

		@keyframes pulse{
			0%{ opacity: .2; }
			50%{ opacity: 1; }
			100%{ opacity: .2; }
		}

		footer{
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			background-color: #262626;
			padding: 10px 0;
		}
		footer p{
			font-family: 'Nunito', sans-serif;
			font-size: 14px;
			color: #aaa;
			line-height: 1.3;
			text-align: center;
			padding: 0;
			margin: 0;	
		}